* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .icon-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
  .icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
} 
.language{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
  .right_nav .te{
    background-color: orange;
    font-size: 20px;
    padding: 5px;
    height: 40px;
    width: 20px;
    text-align: center;
  }

  
  .navbar_bg {
    background: rgb(130,46,103);
    background: linear-gradient(90deg, rgba(130,46,103,1) 0%, rgba(158,3,3,1) 35%, rgba(237,213,131,1) 100%)

  }

  .next_icon{
    background: #000;
    display: inline;
    /* height: 70px; */
  }
  
  .header {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header .title {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #00bcd4, #673ab7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.header .subtitle {
    font-size: 18px;
    color: #6b4226;
    margin: 8px 0 0;
}
.nav-item{
  text-decoration: none;
  color: white; /* Example text color */
  margin: 0 2px; /* Adjust horizontal spacing between items */
  font-size: 16px; /* Adjust font size as needed */
 
}
  .mybox{
    position: relative;
    bottom: 60px;
    z-index: 999;
  }
  .candidate_box{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    color: white;
    border: 5px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .candidate_box > svg {
    font-size: 40px;
  }
  .candidate_box > p {
    font-size: 18px;
    max-width: 100px;
    text-align: center;
    line-height: 1;
  }

  #font {
  }
  .left_section {
    width: 65%;
  }
  
  .left_section .description {
    margin-top: 40px;
    text-align: center;
    color: gray;
    font-size: medium;
    font-family:Arial sans-serif;
  }
  
  .left_section .des {
    background-color: orangered;
    width: 350px;
    /* height: 30px; */
    padding: 3px 0;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: auto;
    line-height: 0.8;
  }
  
  .right_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  
  .minister {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .name {
    position: absolute;
    bottom: 0;
    background-color: rgb(36, 35, 35);
    color: white;
    width: 100%;
    padding: 0 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
  }
  
  
  .skill_heading p {
    font-size: 32px;
    border-bottom: 2px dashed orangered;
  
  }
  
  .registration_box_modal p {
    font-size: 28px;
    margin-top: 15px;
    text-align: center;
  }
  
  .registration_box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    outline: 3px dashed gray;
    outline-offset: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .registration_hover {
    background-color: gray;
    height: 100%;
    width: 100%;
    padding: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

.registration_hover >p {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

  .registration_box:hover .registration_hover {
    opacity: 1;
  }
  
  .left_latest {
    width: 60%;
  }
  
  .right_latest {
    width: 40%;
  }
  
  .latest_list_box {
    height: 400px;
    overflow-y: scroll;
  }
  
  .latest_list svg {
    font-size: 38px;
    color: orangered;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  
  .container-xl {
    position: relative;
    z-index: 1;
  }
  .skill_progress {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px 0;
  }
  
  .training_box {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 80%;
    margin: auto;
  
  }
  .skill_development_heading p{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}


  .footer {
    /*background: rgb(75,75,75);
background: linear-gradient(105deg, rgba(75,75,75,1) 0%, rgba(0,0,0,1) 90%, rgb(153, 101, 42) 100%);*/
  background: rgb(70,68,69);
background: linear-gradient(90deg, rgba(70,68,69,1) 41%, rgba(129,102,69,1) 92%);
    color: white;
    height: 350px;
    padding-top: 50px;
  }
  .row{
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .row_2{
    font-size:smaller;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%;
  }
